a:hover {
	text-decoration: underline;
}

@media (max-width: 1024px) {
	/* Ask Carlo about what the difference between
	@media og @media screen is during 1:1 */
	body {
		font-size: 5vw;
	}
}

@media (min-width: 1920px) {
	body {
		font-size: 30px;
		max-width: 1920px;
		margin: 0 auto;
	}
}