.newsletter__card{
	background-color: var(--color-box-background);
	object-fit: cover;
	margin: 1rem;
}

@media screen and (max-width: 1024px) {
	.newsletter__card{
		width: 90%;
		padding: 1rem;
		margin: 5%;
	}

}